.pagination li.items {
    background: #666 !important;
    text-indent: -9999px !important;
    width: 20px !important;
    height: 20px !important;
    margin: 0 5px !important;
    outline: 0 !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 8px !important;
}

.pagination li {
    cursor:pointer !important;
}

.pagination li.active {
    background-color: #ee6e73 !important;
}

.clearfix1:before,
.clearfix1:after {
	content: '';
	display: table;
}
 
.clearfix1:after {
	clear: both;
}


.codrops-header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	opacity: 0.7;
}


.related a {
	display: inline-block;
	text-align: left;
	margin: 20px auto;
	padding: 10px 20px;
	opacity: 0.8;
	color: #777;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}

.related a:hover,
.related a:active {
	opacity: 1;
}

.related a img {
	max-width: 100%;
}

.related a h3 {
	font-weight: 300;
	margin: 0;
	padding: 0.3em 0;
}

.wrap {
	background-color: #f4726d
}

.dotstyle:nth-child(4n),
.dotstyle:nth-child(4n-3) {
	/*background-color: rgba(0, 0, 0, 0.05);*/
}

@media screen and (max-width: 42em) {
	.wrap > div {
		float: none;
		width: 100%;
	}

	.dotstyle:nth-child(4n),
	.dotstyle:nth-child(4n-3) {
		background-color: rgba(0, 0, 0, 0);
	}

	.dotstyle:nth-child(odd) {
		background-color: rgba(0, 0, 0, 0.05);
	}
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

	.codrops-icon:before {
		font-size: 160%;
		line-height: 2;
	}

}


/* Common styles and resets */

.dotstyle ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 7px;
	width: 25px;
	height: 25px;
    font-size:13px;
    cursor: pointer;
    font-weight:bold;
}
.dotstyle li.sq_button{
    width:20px !important;
    height:20px !important;
    background:#202022;
}
.dotstyle li#triangle-left {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 24px solid #202022;
	border-bottom: 12px solid transparent;
}
.dotstyle li#triangle-right {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-left: 24px solid #202022;
	border-bottom: 12px solid transparent;
}
.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
}

.dotstyle li a:focus {
	outline: none;
}

/* Individual styles and effects */

/* Fly in */

.dotstyle-hop li a {
	border: 2px solid #202022;
	background: transparent;
}

    .dotstyle-hop li a::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        border-radius: 50%;
        visibility: hidden;
        /*background: rgba(244, 67, 54, 0.7);*/
        background: rgba(244, 67, 54, 0.7);
        opacity: 0;
        -webkit-transform: rotate(-100deg);
        transform: rotate(-100deg);
        -webkit-transform-origin: -200% 50%;
        transform-origin: -200% 50%;
        -webkit-transition: -webkit-transform 0.3s ease 0.3s, opacity 0.3s ease, visibility 0s 0.3s ease;
        transition: transform 0.3s ease 0.3s, opacity 0.3s ease, visibility 0s 0.3s ease;
    }

.dotstyle-hop li a:focus {
	background: rgba(255, 255, 255, 0.2);
}

.dotstyle-hop li.current-from-right a::after {
	-webkit-transition: none;
	transition: none;
	-webkit-transform: rotate(100deg);
	transform: rotate(100deg);
	-webkit-transform-origin: 300% 50%;
	transform-origin: 300% 50%;
}

.dotstyle-hop li.current a::after {
	visibility: visible;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
}


.dotstyle-hop li.current span
{
    color: #000;
    font-weight: bold;
}

.dotstyle li.disabled
{
    border-right: 24px solid #a5a5a5 !important;
}

.dotstyle {
    display: block;
    clear: both;
    margin-bottom: 25px;
    margin-top: 15px;
}

@media screen and (min-height: 250px) and (max-height: 600px) {
    .dotstyle {
        margin-bottom: 30px;
    }
}

@media screen and (min-height: 601px) and (max-height: 750px) {
    .dotstyle {
        margin-bottom: 35px;
    }
}

/*IE styles*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .dotstyle {
        display: block;
        clear: both;
        margin-bottom: 40px;
      
    }
}

/*FF styles*/

@-moz-document url-prefix() {
    .dotstyle {
        display: block;
        clear: both;
        margin-bottom: 40px;
    }
}