
<div class="dotstyle dotstyle-hop text-center" ng-show="!Loader">
    <ul>
        <li ng-click="PrePage()" ng-class="{'disabled':currentSet==0}" ng-disabled="currentSet==0" id="triangle-left">&nbsp;</li>
        <li ng-repeat="n in filterCount track by $index" ng-click="PreSetPage($index+1)" ng-class="{'current':currentPage==($index+1)}">
        <a>{{$index}}</a>
         <span>{{($index + 1) + (currentSet * attrFiltercount)}}</span>
        </li>
        <li ng-hide="(!hasNextPage && (filterCount.length+(currentSet * attrFiltercount) == totalPage))" ng-click="NextPage()" id="triangle-right">&nbsp;</li>
    </ul>
</div>